<%= page_heading "Big student data, big student results" %> 

<div class='not-full-width'>

  <div>
    <h4>Openstax Exchange and the power of big data</h4>

    <p>When a student engages in learning, a tremendous amount of meaningful data is generated: which exercises she completed and skipped, what resources she consulted, the order and speed with which she progressed through material, her performance on a concept level, and much more.</p>

    <p>This complex data is the key to answering any number of critical questions. How do students best learn? How to optimize each student’s progress through material? How to help them achieve their learning goals?</p>

    <p>Given data describing a student’s interactions with learning materials, Exchange derives key insights and produces powerful analytics.</p>
  </div>

  <div>
    <h4>It starts with data</h4>

    <p>OpenStax Exchange is a storehouse of de-identified learner event data. We offer a number of features that enable our partners and users to leverage the power of big student data.</p>

    Developers

    <p>The Exchange API makes it possible for developers to enhance their applications and services with powerful individual and aggregate analytics. We also provide a Javascript API client that can be embedded for seamless integration.</p>

    Students 

    <p>Unlocking personal analytics is super simple with Exchange. Students using Exchange-powered tools are assigned a key, or unique identifier, known only to the student, his or her learning tool, and Exchange. With this key, students can unlock data-driven insights about their performance and outcomes.</p>

    Learning science researchers

    <p>Because we are committed to furthering scientific research on learning science, Exchange includes a subset of de-identified, IRB-approved learning data that eligible institutions and researchers can access for research purposes only. Researchers can also use Exchange as a storehouse for their own de-identified learning data.</p>
  </div>

  <div>
    <h4>Privacy</h4>

    <p>We place the highest importance on the confidentiality of learner data. Unlike other services, Exchange does not store or access sensitive personal information, only de-identified learning data. In fact, Exchange users are prohibited from sending personal information to us, including any data that can be used by us to identify an individual, such as names or email addresses. Exchange is fully compliant with the Family Educational Rights and Privacy Act (FERPA).</p>
  </div>

</div>