<div id="upper-corner-console">

  <% if !Rails.env.production? %>
    Current user: <%= current_account.username %><br/>
  <% end %>

  <% clock_is_normally_enabled = @clock_enabled && signed_in? %>
  <% clock_is_enabled = clock_is_normally_enabled || !Rails.env.production? %>

  <% if clock_is_enabled %>
    <span id="clock" class="<%= 'highlight' if !clock_is_normally_enabled %>">
      <% time = Time.zone.now %>
      <%= osu.standard_time(time) %><br/>(on last refresh)
    </span>
  <% end %>

</div>
