# Secret token
# The default value will error out if you try to open any page
# Change it to something very long and completely random
secret_token: my_secret_token

# OpenStax Accounds Configuration
# Set to your application id and secret from OpenStax Accounts
openstax_application_id: my_application_id
openstax_application_secret: my_application_secret

# Closed beta settings
# Specify non-nil values to enable the closed beta
beta_username: ~
beta_password: ~
