# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

defaults: &defaults
  secret_key_base: <%=
    ENV["SECRET_KEY_BASE"] || \
    "ab27b729d9cc4cb1c00960700446924159e9298d0f952aee3d55408b8e0b1b71"
  %>
  openstax:
    accounts:
      client_id: <%= ENV["OPENSTAX_ACCOUNTS_APPLICATION_ID"] %>
      secret: <%= ENV["OPENSTAX_ACCOUNTS_SECRET"] %>
  aws:
    credentials:
      access_key_id: <%= ENV["AWS_CREDENTIALS_ACCESS_KEY_ID"] %>
      secret_access_key: <%= ENV["AWS_CREDENTIALS_SECRET_ACCESS_KEY"] %>
    region: <%= ENV["AWS_REGION"] || 'us-east-1' %>

development:
  <<: *defaults

test:
  <<: *defaults

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
